    @model IEnumerable<Module2._1.Models.Product>

    @{
        ViewData["Title"] = "Product List";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <!DOCTYPE html>
    <html>
    <head>

            <title>Product List</title>
   
            <style>
                .product-item {
                display: inline-block;
                width: 200px;
                margin: 10px;
                padding: 10px;
                border: 1px solid #ccc;
                text-align: center;
                cursor: pointer;
                }

                .product-item img {
                width: 150px;
                height: 150px;
                }
            </style>
            </head>
            <body>
                <h2>Product List</h2>
                 @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                @* <div class="product-item" onclick="redirectToProductDetail('1')"> *@
                <div class="product-item">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" asp-route-id="@item.ProductId">
                        <div>
                            @if (item.UrlImage == null)
                            {
                                <img src="~/images/no_image.jpg" alt="...">
                            }
                            else
                            {
                                <img src="@item.UrlImage" alt="...">
                            }

                            <h3>@item.ProductName</h3>
                            <p>Price: @item.Price</p>
                        </div>
                    </a>
                </div>
            }
        }
    else
    {
        <p>Không có kết quả tìm kiếm.</p>
    }

                @*  <script>
            function redirectToProductDetail(productId) {
                // Chuyển hướng đến trang chi tiết sản phẩm với ID tương ứng
                window.location.href = 'product-detail.html?id=' + productId;
            }
        </script> *@
            </body>
            </html>
    